@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-slide {
  display: flex;
  width: max-content;
  transition: all 0.5s ease-in-out;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.spinner::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.four-pointed-star {
  position: relative;
  margin: 1em auto;
  width: 1em;
  font-size: 12em;
}

.four-pointed-star:before {
  content: "";
  position: absolute;
  background: red;
  width: 1em;
  height: 1.15em;
  transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.four-pointed-star:after {
  content: "";
  position: absolute;
  background: red;
  width: 1em;
  height: 1.15em;
  transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}
